{% extends "base.html" %} {% block title %}Upload{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">report_date</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="report_date" placeholder="EX -> YYYY-mm-dd" required
                   pattern="^\d{4}-\d{2}-\d{2}$"
                   title="Format Date incorrect">
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}