{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<form action="{{ url_for('views.update_orm') }}" method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">cs_ref</label>
        <div class="col-sm-10">
            <input class="form-control" name="cs_ref" type="text" value="{{ data.cs_ref}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">instduction_id</label>
        <div class="col-sm-10">
            <input class="form-control" name="instruction_id" type="text" value="{{ data.instruction_id}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">mt</label>
        <div class="col-sm-10">
            <input class="form-control" name="mt" type="text" value="{{ data.mt}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">ctgypurp</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.ctgypurp}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">dr_bic</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.dr_bic}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">dr_bic</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.dr_bic}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">dr_acct</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.dr_acct}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">cr_bic</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.cr_bic}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">cr_acct</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.cr_acct}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">dr_amt</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.dr_amt}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">cr_amt</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.cr_amt}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">status</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.status}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">error</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.error}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">time</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.time}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">ch</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.ch}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">tdansmission_type</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.tdansmission_type}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">debtor_acct</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.debtor_acct}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">debtor_name</label>
        <div class="col-sm-10">
            <input class="form-control" name="debtor_name" type="text" value="{{ data.debtor_name}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">creditor_acct</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{{ data.creditor_acct}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">creditor_name</label>
        <div class="col-sm-10">
            <input class="form-control" name="creditor_name" type="text" value="{{ data.creditor_name}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="colFormLabel">dept</label>
        <div class="col-sm-10">
            <input class="form-control" name="dept" type="text" value="{{ data.dept}}">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
</form>


{% endblock %}