{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}


<form action="{{ url_for('routes.insert') }}" method="post">
    <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">dr_bic</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  name="dr_bic">
        </div>
    </div>
    <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">cr_bic</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  name="cr_bic">
        </div>
    </div>
     <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">cr_amt</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  name="cr_amt">
        </div>
    </div>
     <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">dept</label>
        <div class="col-sm-10">
           <input type="hidden" name="dept" id="dept">
          <input type="text"  class="form-control"  list="branchdata" id="branch-show" name="branch-show" required/>
        </div>
    </div>



     <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-warning btn-xs">Back</a>
</form>

<datalist id="branchdata">
    {% for branch in branches %}
     <option data-value="{{branch.branch_id}}" value="{{branch.branch_name}}">
    {% endfor %}
</datalist>

{% endblock %}