{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<h1 align="center"> Notes</h1>
<div class="table-responsive-md">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">cs_ref</th>
            <th scope="col">instruction_id</th>
            <th scope="col">mt</th>
            <th scope="col">ctgypurp</th>
            <th scope="col">dr_bic</th>
            <th scope="col">dr_acct</th>
            <th scope="col">cr_bic</th>
            <th scope="col">cr_acct</th>
            <th scope="col">dr_amt</th>
            <th scope="col">cr_amt</th>
            <th scope="col">status</th>
            <th scope="col">error</th>
            <th scope="col">date</th>
            <th scope="col">time</th>
            <th scope="col">ch</th>
            <th scope="col">transmission_type</th>
            <th scope="col">debtor_acct</th>
            <th scope="col">debtor_name</th>
            <th scope="col">creditor_acct</th>
            <th scope="col">creditor_name</th>
            <th scope="col">dept</th>
            <th scope="col">input_type</th>
            <th scope="col">amlo_is</th>
            <th scope="col">amlo_done</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for reports , branch in data %}
        <tr>
            <th scope="row"></th>
            <td> {{ reports.cs_ref}}</td>
            <td> {{ reports.instruction_id }}</td>
            <td> {{ reports.mt}}</td>
            <td> {{ reports.ctgypurp}}</td>
            <td> {{ reports.dr_bic}}</td>
            <td> {{ reports.dr_acct}}</td>
            <td> {{ reports.cr_bic}}</td>
            <td> {{ reports.cr_acct}}</td>
            <td> {{ reports.dr_amt }}</td>
            <td> {{ reports.cr_amt}}</td>
            <td> {{ reports.status}}</td>
            <td> {{ reports.error}}</td>
            <td> {{ reports.report_date}}</td>
            <td> {{ reports.report_time}}</td>
            <td> {{ reports.ch}}</td>
            <td> {{ reports.transmission_type}}</td>
            <td> {{ reports.debtor_acct}}</td>
            <td> {{ reports.debtor_name}}</td>
            <td> {{ reports.creditor_acct}}</td>
            <td> {{ reports.creditor_name}}</td>
            <td> {{ branch.branch_name}}</td>
            <td> {{ reports.input_type }}</td>
            <td> {{ reports.amlo_is }}</td>
            <td> {{ reports.amlo_done }}</td>
            <td>
            <td>
                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{reports.cs_ref}}">Edit
                    Toggle</a>
                <a href="/form_update/{{ reports.cs_ref }}" class="btn btn-warning btn-xs">Edit</a>
                {% if reports.input_type != 'upload' %}
                <a href="/delete/{{ reports.cs_ref }}" class="btn btn-danger btn-xs"
                   onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
                {% endif %}
            </td>
            </td>
        </tr>
        <div id="modaledit{{reports.cs_ref}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/update" method="POST">
                            <div class="form-group">
                                <label for="branch-show">ฝ่าย / สาขา:</label>
                                <input type="hidden" name="cs_ref" value="{{reports.cs_ref}}">
                                <input type="hidden" name="dept" id="dept">
                                <input type="text"  class="form-control"  list="branchdata" id="branch-show" name="branch-show" required/>

                            </div>
                            <div class="form-group">
                                <label>รายการ ปปง.</label>
                                <select name="amlo_is" class="form-control">
                                    <option value="True" {% if reports.amlo_is== True %}selected{% endif %}>True</option>
                                    <option value="False" {% if reports.amlo_is== False %}selected{% endif %}>False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>อัพเดท ปปง. </label>
                                <select name="amlo_done" class="form-control">
                                    <option value="True" {% if reports.amlo_done== True %}selected{% endif %}>True</option>
                                    <option value="False" {% if reports.amlo_done== False %}selected{% endif %}>False
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">อัพเดท</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
        </tbody>
    </table>
</div>
 <datalist id="branchdata">
    {% for branch in branches %}
     <option data-value="{{branch.branch_id}}" value="{{branch.branch_name}}">
    {% endfor %}
</datalist>
<a href="/form_insert" class="btn btn-primary"> ADD </a>
<style>
.table-responsive-md {
  max-height: 500px;
  overflow-y: auto;
}
</style>
{% endblock %}

{% block scripts %}
  {{ super() }}
 <script type="text/javascript">
    /* $(document).ready(function() {
      $("#branch-show").on("input", function() {
        var selectedOption = $("#branchdata option[value='" + this.value + "']");
        if (selectedOption.length) {
          $("#dept").val(selectedOption.data("value"));
          alert(selectedOption.data("value"));
        }
      });
    });*/
</script>
{% endblock %}
